.head
{
  width:100%;
  background-color:rgb(141, 217, 234);
  height: 7vh;
  
}
.b1
{
  border-radius: 35%;
  border-width: 30px;
  
  margin: 21% 0% 0vh 20%;
  cursor: pointer;

}
.b2
{
  border-radius: 35%;
  border-width: 30px;
  
  margin: 20vh 0% 0vh 47%;
  cursor: pointer;

}
.head1
{
  /* margin-top:auto; */
  height: 0vh;
  margin: auto;
  background-color:rgb(242, 243, 238);
}
.head1 font
{
  margin:10% 0% 0% 82%;
}
.head2
{
  height: 50%;
  position: relative;
}
.hb
{
  margin:0%;
}
.ab
{
  margin:-0.9vh
}
.body
{
  background-image: url("back.jpg");
  height: 86vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
}
.visit
{
  border-radius: 50%;
  border-width: 50px;
  background-color: antiquewhite;
  margin: 21% 0% 0vh 47%;
  cursor: pointer;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.foot
{
  background-color: rgb(247, 157, 247);
  height: 7vh;
}
.data
{
  width: 20%;
  position: absolute;
  margin:15% 0% 50vh 40%;
  background-color: rgba(203, 236, 251, 0.984);
  border-radius: 8%;
  height: 15vh;
}
.input
{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(170, 238, 238);
  width: 50%;
  border-radius: 10%;

}
.user
{
  margin: 17vh 40%;
}
.prblm
{
  /* background-image: url("con.jpg"); */
  background-repeat: no-repeat;
  width:100%;
  height: 100vh;
  background-size: 100%;
}
.alert
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: blue;
}


.sorry
{
  position:static;
  
  font-family:bold;  
  margin-left: 30%;
  color: rgb(3, 34, 34);
  
}
.admin
{
  background-image: url("admin.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-position:50%;
  background-size:35%;
  
  
  
}